svg.radial-progress {
  height: auto;
  max-width: 200px;
  padding: 1em;
 transform: rotate(-90deg);
  width: 100%;
}

svg.radial-progress circle {
  fill: rgba(0,0,0,0);
  
  stroke-dashoffset: 219.91148575129; 
  stroke-width:6;

}

svg.radial-progress circle.incomplete { opacity: 0.25; }

svg.radial-progress circle.complete { stroke-dasharray: 219.91148575129; }

svg.radial-progress text {
  fill:#3c4761;
  text-anchor: middle;
}


svg.web-design circle{
     stroke: darkorchid;
}
svg.html-css circle{
     stroke:#d74680;
}

svg.graphics circle{
     stroke:#00d800;
}
svg.ui-ux circle{
     stroke:gray;
}
